<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Telefon</h4>
                    <p>+90 0552 222 2222</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Adres</h4>
                    <p>Çınarköy mah. 5009 sok. No:5/AJ, 35730 Kemalpaşa/İzmir</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Çalışma Saati</h4>
                    <p>7/24 Hizmetinizdeyiz</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>ınftechmakina@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d781.3336933460406!2d27.401226692470345!3d38.43373563431134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x629ddf0ac28ee221%3A0x9c0a458c6730a58e!2sEGL%20MAK%C4%B0NA!5e0!3m2!1str!2str!4v1723449857029!5m2!1str!2str"
            width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>InfTech Makina</h4>
            <ul>
                <li>Telefon: +90 0552 222 2222</li>
                <li>Adres: Çınarköy mah. 5009 sok. No:5/AJ, 35730 Kemalpaşa/İzmir</li>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<br />
